
        body  
        {  
            margin: 0;  
            padding: 0;  
            background-color:#6abadeba;  
            font-family: 'Arial';  
        }  
        th,
        td,
        p,
        input {
            font: 20px Verdana;
            color: black;
            border-radius: 5%;
            cursor: pointer;
        }

        table,
        th,
        td {
            border: solid 1px #DDD;
            border-collapse: collapse;
            padding: 5px 5px;
            text-align: center;
        }

        th {
            font-weight: bold;
            color: green;
            padding-left: 20px;
            padding-right: 20px;
        }

        #showData {
            position: absolute;
            top: 22%;
            left: 30%;
            text-align: center;
            font-size: 24px;
            padding-top: 12px;
            padding-bottom: 12px;
            background-color: #4CAF50;

        }

        button {
            position: absolute;
            top: 10%;
            left: 43%;
            right: 40%;
            background-color: #4CAF50;
            border: none;
            border-radius: 5%;
            color: black;
            padding: 1%;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 1%;
            cursor: pointer;
            /*top:30%;
*/
        }

        button:hover {
            color: white;
        }