body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#6abadeba;  
    font-family: 'Arial';  
}  
div{
    background: #23463f;
}
button {
    position: absolute;
    left: 40%;
    background-color: #4CAF50;
    border: none;
    border-radius: 5%;
    color: white;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1%;
    cursor: pointer;
}

button:hover {
    color: blue;
}

#button1 {
    top: 30%;
}

#button2 {
    top: 40%;
}

#button3 {
    top: 50%;
}

#button4 {
    top: 60%;
}