body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#6abadeba;  
    font-family: 'Arial';  
}  
#main
{
position:relative;
top:0px;
left:0px;
width:1000px;
height:auto;
margin:0px auto;
/*to make the site zoom in and zoom out to center*/
} 
#header
{
position:relative;
top:0px;
left:0px;
width:1000px;
height:70px;
background:#85a3e0;
}
#title
{
position:absolute;
top:10px;
left:350px;
color:white;
font-size:30px;
}

#caption
{
position:absolute;
top:40px;
left:550px;
color:yellow;
font-style:italic;
font-size:18px;
}

#menu
{
position:relative;
top:2px;
left:0px;
width:1000px;
height:50px;
background:#85a3e0;
}

#menu a
{
color:white;
font-size:18px;
text-decoration:none;
}

#item1
{
position:absolute;
top:15px;
left:40px;
}

#item2
{
position:absolute;
top:15px;
left:250px;
}

#item3
{
position:absolute;
top:15px;
left:450px;
}

#item4
{
position:absolute;
top:15px;
right:250px;
}

#item5
{
position:absolute;
top:15px;
right:40px;
}
#footer
{
position:absolute;
top:550px;
left:0px;
width:1000px;
height:40px;
background:#000000;
color:white;
text-align:center;
line-height:40px;
margin-bottom:20px;
}